extends ../layout/main

block variables
  -var title = 'TutorLab';
  -var bodyClass = 'index-page';

block content
  //- include ../includes/header
  //- include ../includes/sideNav
  main
    section.fullheight_intro
      include ../components/header/header.pug
      .fullheight_content.container
        .fullheight_content_left 
          h1 Öyrənmək asandır 
            br
            |Hər yerdə və hər zaman
          p Qısa zamanda istifadəyə veriləcək mobil tətbiqin 
            br
            |üstünlüklərindən yararlanmaq üçün
          btn.blue_btn.show_register_modal Qeydiyyatdan keç
        .fullheight_content_right
          .image_block
            img(src=require("../../assets/images/iphone.png"), alt="Phone image")
    section#companies.companies.container
      .company_flex
        .img_block
          img(src=require("../../assets/images/airbnb.svg"), alt="airbnb")
        .img_block
          img(src=require("../../assets/images/hubspot.svg"), alt="hubspot")
        .img_block
          img(src=require("../../assets/images/google.svg"), alt="google")
        .img_block
          img(src=require("../../assets/images/microsoft.svg"), alt="microsoft")
        .img_block
          img(src=require("../../assets/images/walmart.svg"), alt="wallmart")
        .img_block
          img(src=require("../../assets/images/fedex.svg"), alt="fedex")
    section#about.about.container
      .about_left
        h2 Bütün narahatlıqlarınızı unudun! 
          br 
          |"TutorLab" mobil tətbiqi burada! 
        p Repetitor xidməti ilə məşğul olan fərdi şəxslər və kurs fəaliyyəti ilə məşğul olan təhsil mərkəzləri üçün şagirdlər və tələbələr üzərində nəzarəti gücləndirəcək, valideyinləri övladlarının təhsil səviyyələrini, tədris prosesində davamiyyətini və gündəlik hazırlıq dərəcələri ilə daim məlumatlandıracaq və xəbərdar edəcək, eləcə də həm müəllim, həm də valideyn tərəfinin bütün tədris prosesini nəzarət altında saxlaya biləcək bir mobil tətbiq təqdim edirik.
      .about_right
        .image_block
          img(src=require("../../assets/images/about_right.png"), alt="About image")
    section#advantages.advantages.container 
      h1 Tutor Lab üstünlükləri
      .tabs_navigation
        button#parentBtn.tab_btn.active Valideyn
        button#teacherBtn.tab_btn Müəllim
      .tabs_container
        #tab_rails.tabs_rails(data-position="1")
          .each_tab
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/1.svg"), alt="")
              strong Dərsinizi daha asan idarə et
              p Dərslərinizi və kurslarınızı daha asan idarə edə, tələbə və şagirdlərinizə  nəzarət edə bilərsiniz
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/2.svg"), alt="")
              strong Təhsil keyfiyyətinə nəzarət et
              p Övladının dərslərə davamiyyətini və hazırlıq səviyyəsini nəzarət altında saxla
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/3.svg"), alt="")
              strong Vaxtını səmərəli istifadə et
              p İstifadə üçün rahat və çox sadə mobil tətbiq vasitəsilə tədris prosesini asanlaşdırın
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/4.svg"), alt="")
              strong Statistik məlumatlar əldə et
              p Həftəlik, aylıq, rüblük və illik inkişafla bağlı hesabatlar əldə et
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/5.svg"), alt="")
              strong Müəllimlərin fəaliyyətini izlə
              p Məktəbdənkənar hazırlıq kurslarının və repetitor fəaliyyətinin effektivliyini izlə
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/6.svg"), alt="")
              strong Təhsil keyfiyyətinə nəzarət et
              p Övladının dərslərə davamiyyətini və hazırlıq səviyyəsini nəzarət altında saxla
          .each_tab.active
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/1.svg"), alt="")
              strong Dərsinizi daha asan idarə et
              p Dərslərinizi və kurslarınızı daha asan idarə edə, tələbə və şagirdlərinizə  nəzarət edə bilərsiniz
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/2.svg"), alt="")
              strong Təhsil keyfiyyətinə nəzarət et
              p Övladının dərslərə davamiyyətini və hazırlıq səviyyəsini nəzarət altında saxla
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/3.svg"), alt="")
              strong Vaxtını səmərəli istifadə et
              p İstifadə üçün rahat və çox sadə mobil tətbiq vasitəsilə tədris prosesini asanlaşdırın
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/4.svg"), alt="")
              strong Statistik məlumatlar əldə et
              p Həftəlik, aylıq, rüblük və illik inkişafla bağlı hesabatlar əldə et
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/5.svg"), alt="")
              strong Müəllimlərin fəaliyyətini izlə
              p Məktəbdənkənar hazırlıq kurslarının və repetitor fəaliyyətinin effektivliyini izlə
            .advantage_card
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/6.svg"), alt="")
              strong Təhsil keyfiyyətinə nəzarət et
              p Övladının dərslərə davamiyyətini və hazırlıq səviyyəsini nəzarət altında saxla
    section#attendance.attendance.container
      .attendance_content
        .attendance_left
          .image_box
            .image_block 
              img(src=require("../../assets/images/iphone2.png"), alt="") 
        .attendance_right
          h1 Davamiyyət, Qiymətləndirmə və Müəllim şərhləri
          p Tədris prosesinə dair xüsusi qeydlər əlavə etmək, valideyinlərlə əlaqə yaratmaq, müxtəlif müəllimlər və kursların fəaliyyətini izləmək, şagird və tələbələrinizin digər kurslara dair nəticələri ilə tanış olmaq, sınaq imtahanlarında təqdim olunan sualların tərtib olunmasında iştirak etmək kimi üstünlüklər təklif olunur.
          button.btn-arrow.show_register_modal Bildiriş al
    section#achievements.achievements.container
      .achievements_content
        .achievements_left 
          h1 Mobil tətbiqdən yararlananmaq istəyən istifadəçi sayı
          p Təhsilə nəzarətdə innovativ və rəqəmsal həll
        .achievements_right
          .counter_card
            .counter_card_img.fcc 
              img(src=require("../../assets/icons/advantages/1.svg"), alt="")
            .counter_card_text
              span(data-plus="1") 10000
              small Qeydiyyatdan keçən
          .counter_card
            .counter_card_img.fcc 
              img(src=require("../../assets/icons/advantages/4.svg"), alt="")
            .counter_card_text
              span(data-plus="0") 12
              small Fənn sayı
          .counter_card
            .counter_card_img.fcc 
              img(src=require("../../assets/icons/advantages/5.svg"), alt="")
            .counter_card_text
              span(data-plus="0") 300
              small Müəllim
          .counter_card
            .counter_card_img.fcc 
              img(src=require("../../assets/icons/advantages/7.svg"), alt="")
            .counter_card_text
              span(data-plus="1") 1000
              small Valideyn
    section#subscribe.subscribe.container 
      .subscribe_content
        .subscribe_content_left 
          img(src=require("../../assets/icons/email_block_img.svg"), alt="")
        .subscribe_content_right
          strong Yeniliklərdən xəbərdar olmaq üçün
          form(action="#")#subscribe_form.subscribe_form 
            input#subscribe_inp(type="email", name="subscribe_email" placeholder="E-poçtunuzu daxil edin") 
            button.subsribe_btn(type="submit") Abunə ol      
    section#mobile_apps.mobile_apps.container 
      .mobile_apps_content
        .mobile_apps_left
          strong Mobil tətbiqi İOS və Android platdormalarında
          p Övladınızın məktəbdənkənar hazırlıq kurslarının effektivliyi haqqında heç bir məlumatınız yoxdur və ödəniş qarşılığında təqdim olunan xidmət səviyyəsini nəzarət altında saxlayın

          .download_links
            a(href="https://google.com")
              img(src=require("../../assets/icons/playstore.svg"), alt="Playstore")  
            a(href="https://appstore.com")
              img(src=require("../../assets/icons/appstore.svg"), alt="Appstore")  
        .mobile_apps_right
          .image_1
            .image_block
              img(src=require("../../assets/images/iphone3.png"), alt="Iphone")
          .image_2
            .image_block
              img(src=require("../../assets/images/iphone4.png"), alt="Iphone")
    footer.main_footer.container
      .left 
        .logo
          a(href="#")
            img(src=require("../../assets/icons/footer/logo.svg"), alt="logo")
        nav.socials
          a(href="http://" target="_blank")
            img(src=require("../../assets/icons/footer/instagram.svg"), alt="Instagram") 
          a(href="http://" target="_blank")
            img(src=require("../../assets/icons/footer/dribble.svg"), alt="Dribble") 
          a(href="http://" target="_blank")
            img(src=require("../../assets/icons/footer/twitter.svg"), alt="twitter") 
          a(href="http://" target="_blank")
            img(src=require("../../assets/icons/footer/youtube.svg"), alt="youtube") 
        .copyright
          p © 2021 TutorLab. Bütün hüquqlar qorunur.
      .middle
        nav.footer_nav
          a(href="#about").each_link Haqqımızda 
          a(href="#advantages").each_link Üstünlüklər 
          a(href="#disciplines").each_link Fənlər 
          a(href="#contacts").each_link Əlaqə 
      .right 
        .flex_right
          strong Bizimlə əlaqə
          a.contact_line(href="tel:+994551111111") 
            img(src=require("../../assets/icons/footer/phone.svg"), alt="Phone icon")
            span +994551111111
          a.contact_line(href="mailto:example@hotmail.com") 
            img(src=require("../../assets/icons/footer/email.svg"), alt="Email icon") 
            span hello@tutotlab.az
          a.contact_line(href="maps.google.com") 
            img(src=require("../../assets/icons/footer/geo.svg"), alt="Geolocation icon")
            span  Bakı, Nərimanov ray., Əhməd Rəcəbli 46A