extends ../layout/main

block variables
  -var title = 'TutorLab';
  -var bodyClass = 'index-page';

block content
  //- include ../includes/sideNav
  main
    section.fullheight_intro
      include ../components/header/header.pug
      .fullheight_content.container
        .fullheight_content_left 
          h1.anim(data-anim="fade_to_top" ,data-delay="0.2") Təhsildə keyfiyyətə
            br
            |Nəzarət platforması
          p.anim(data-anim="fade_to_top" ,data-delay="0.3") “TutorLab” təhsil keyfiyyətinə nəzarəti artıran və tədris prosesində qısa zamanda müsbət nəticələrin əldə olunmasını təmin edən mobil tətbiqdir
          .btn_div.anim(data-anim="fade_to_top" data-delay="0.4")
            a.blue_btn(href="register.html")  Qeydiyyatdan keç
        .fullheight_content_right
          .image_block
            img.anim(src=require("../../assets/images/iphone.png") data-anim="fade_scale" data-delay="0.2" alt="Phone image")
    section#companies.companies.container
      .company_flex
        .img_block.anim(data-anim="fade_to_left" data-delay="0.1")
          img(src=require("../../assets/images/airbnb.svg"), alt="airbnb")
        .img_block.anim(data-anim="fade_to_left" data-delay="0.2")
          img(src=require("../../assets/images/hubspot.svg"), alt="hubspot")
        .img_block.anim(data-anim="fade_to_left" data-delay="0.3")
          img(src=require("../../assets/images/google.svg"), alt="google")
        .img_block.anim(data-anim="fade_to_left" data-delay="0.4")
          img(src=require("../../assets/images/microsoft.svg"), alt="microsoft")
        .img_block.anim(data-anim="fade_to_left" data-delay="0.5")
          img(src=require("../../assets/images/walmart.svg"), alt="wallmart")
        .img_block.anim(data-anim="fade_to_left" data-delay="0.6")
          img(src=require("../../assets/images/fedex.svg"), alt="fedex")
    section#about.about.container
      .about_left
        h2 Təhsil keyfiyyətinə rəqəmsal nəzarət!
          br 
          |"TutorLab" mobil tətbiqi burada! 
        p TutorLab mobil tətbiqi təhsil keyfiyyətinə nəzarəti artıraraq, tədrisdə daha sürətli şəkildə müsbət nəticələrin əldə olunmasına yardımçı olur. Bu tətbiq fərdi hazırlıq məşğələlərindən tutmuş, kurs fəaliyyəti və korporativ təlimə qədər istifadə oluna bilər. TutorLab mobil tətbiqi təhsil keyfiyyətinə nəzarəti artıraraq, vaxtınıza qənaət etməyə kömək edir və dərs prosesini daha asanlaşdırır. Müəllimlərin abituriyentlərin, şagird və tələbələr üzərində nəzarəti gücləndirmək, valideyinlərin isə övladlarının təhsil səviyyələrini, tədris prosesində davamiyyətini və gündəlik hazırlıq dərəcələri ilə daim məlumatlı olmaları “TutorLab” mobil tətbiqi vasitəsilə mümkün olacaqdır.
      .about_right
        .image_block.anim(data-anim="fade_scale" data-delay="0.1")
          img(src=require("../../assets/images/about_right.png"), alt="About image")
    section#advantages.advantages.container 
      h1 Tutor Lab üstünlükləri
      .tabs_navigation
        button#parentBtn.tab_btn.active Valideyn
        button#teacherBtn.tab_btn Müəllim
      .tabs_container
        #tab_rails.tabs_rails(data-position="1")
          .each_tab
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/1.svg"), alt="")
              strong Övladınıza nəzarət edin
              p Övladlarınızın fərdi hazırlıq davamiyyətinə nəzarət edin
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.1")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/2.svg"), alt="")
              strong Statistik məlumatlar əldə edin
              p Həftəlik, aylıq, rüblük və illik statistik hesabatlarla tanış olun
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.2")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/3.svg"), alt="")
              strong Təhsil keyfiyyətinə nəzarət edin
              p Gündəlik qiymətləndirmə və davamiyyət əsasında övladınızın hazırlıq dərəcəsini daim nəzarətdə saxlayın
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.3")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/4.svg"), alt="")
              strong Müəllimlərin fəaliyyətini izləyin
              p Mobil tətbiq vasitəsilə müəllimlərin fəaliyyətini yaxından izləyin
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.4")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/5.svg"), alt="")
              strong Qrup məlumatlarını izləyin
              p Məktəbdənkənar hazırlıq kurslarının və repetitor fəaliyyətinin effektivliyini izləyin
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.5")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/6.svg"), alt="")
              strong Uğurlu seçim edin
              p Uğurlu metodika əsasında repetitor fəaliyyəti ilə məşğul olan müəllim və kuslarla tanış olun
          .each_tab.active
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/1.svg"), alt="")
              strong Dərsinizi daha asan idarə edin
              p Limitsiz sayda qrup yaradın, şagird və tələbələrinizi qrupa dəvət edin.
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.1")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/2.svg"), alt="")
              strong Vaxtınıza qənaət edin
              p Şagirdlərin, tələbə və abituriyentlərin davamiyyətini qeyd edin, şərhlər yazın
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.2")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/3.svg"), alt="")
              strong Abituriyentləri qiymətləndirin
              p Şagird və tələbələrin qiymətləndirilməsini təmin edin, valideynləri məlumatlandırın
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.3")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/4.svg"), alt="")
              strong Valideynlərlə əlaqədə olun
              p Valideynlərə abituriyentlərin, şagird və tələbələrin cari vəziyyəti barədə daha rahat şəkildə məlumat verin
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.4")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/5.svg"), alt="")
              strong Abituriyentlərin sayını artırın
              p Yeni şagird və tələbələrin kurslara cəlb olunması və qeydiyyata alınmasını təmin edin
            .advantage_card.anim(data-anim="fade_to_top" data-delay="0.5")
              .icon.fcc 
                img(src=require("../../assets/icons/advantages/6.svg"), alt="")
              strong Üstünlüklərdən yararlanın
              p “Top müəllimlər” siyahısına daxil olun, bonuslar əldə edin və üstünlüklərdən yararlanın
    section#attendance.attendance.container
      .attendance_content
        .attendance_left
          .image_box
            .image_block
              img.anim(data-anim="fade_full_to_top" src=require("../../assets/images/iphone2.png"), alt="") 
        .attendance_right
          h1 Davamiyyət, Qiymətləndirmə və Müəllim şərhləri
          p Tədris prosesinə dair xüsusi qeydlər əlavə etmək, valideyinlərlə əlaqə yaratmaq, müxtəlif müəllimlər və kursların fəaliyyətini izləmək, şagird və tələbələrinizin digər kurslara dair nəticələri ilə tanış olmaq, sınaq imtahanlarında təqdim olunan sualların tərtib olunmasında iştirak etmək kimi üstünlüklər təklif olunur.
          a(href="#subscribe").btn-arrow Bildiriş al
    section#achievements.achievements.container
      .achievements_content
        .achievements_left 
          h1 Qeydiyyatdan keçən istifadəçi sayı
          p Təhsilə nəzarətdə innovativ və rəqəmsal həll
        .achievements_right
          .counter_card
            .counter_card_img.fcc 
              img(src=require("../../assets/icons/advantages/1.svg"), alt="")
            .counter_card_text
              span(data-plus="1") 5000
              small İstifadəçi sayı
          .counter_card
            .counter_card_img.fcc 
              img(src=require("../../assets/icons/advantages/5.svg"), alt="")
            .counter_card_text
              span(data-plus="1") 500
              small Tutor sayı
          .counter_card
            .counter_card_img.fcc 
              img(src=require("../../assets/icons/advantages/7.svg"), alt="")
            .counter_card_text
              span(data-plus="1") 12
              small Kurs sayı
          .counter_card
            .counter_card_img.fcc 
              img(src=require("../../assets/icons/advantages/4.svg"), alt="")
            .counter_card_text
              span(data-plus="0") 8
              small Fənn sayı
    section#subscribe.subscribe.container 
      .subscribe_content
        .subscribe_content_left 
          img(src=require("../../assets/icons/email_block_img.svg"), alt="")
        .subscribe_content_right
          strong Yeniliklərdən xəbərdar olmaq üçün
          form(action="#")#subscribe_form.subscribe_form 
            input#subscribe_inp(type="email", name="subscribe_email" placeholder="E-poçtunuzu daxil edin") 
            button#subsribe_btn.subsribe_btn(type="submit") Abunə ol      
    section#mobile_apps.mobile_apps.container 
      .mobile_apps_content
        .mobile_apps_left
          strong Mobil tətbiqi İOS və Android platdormalarında
          p Övladınızın məktəbdənkənar hazırlıq kurslarının effektivliyi haqqında heç bir məlumatınız yoxdur və ödəniş qarşılığında təqdim olunan xidmətdən narazısınızsa, "TutorLab" mobil tətbiqini elə indi yükləyin

          .download_links
            a(href="https://google.com")
              img(src=require("../../assets/icons/playstore.svg"), alt="Playstore")  
            a(href="https://appstore.com")
              img(src=require("../../assets/icons/appstore.svg"), alt="Appstore")  
        .mobile_apps_right
          .image_1
            .image_block
              img.anim(data-anim="fade_full_to_bottom" src=require("../../assets/images/iphone3.png"), alt="Iphone")
          .image_2
            .image_block
              img.anim(data-anim="fade_full_to_top" src=require("../../assets/images/iphone4.png"), alt="Iphone")
    footer.main_footer.container
      .footer_content
        .left 
          .logo
            a(href="#")
              img(src=require("../../assets/icons/footer/logo.svg"), alt="logo")
          nav.socials
            a(href="https://www.instagram.com/tutorlab.az/" target="_blank")
              img(src=require("../../assets/icons/footer/instagram.svg"), alt="Instagram") 
            a(href="https://www.facebook.com/tutorlab.az" target="_blank")
              img(src=require("../../assets/icons/footer/facebook.svg"), alt="Facebook") 
            a(href="http://" target="_blank")
              img(src=require("../../assets/icons/footer/twitter.svg"), alt="twitter") 
            a(href="http://" target="_blank")
              img(src=require("../../assets/icons/footer/youtube.svg"), alt="youtube") 
          .copyright
            p © 2021 TutorLab. Bütün hüquqlar qorunur.
        .middle
          nav.footer_nav
            a(href="#about").each_link Haqqımızda 
            a(href="#advantages").each_link Üstünlüklər 
            a(href="#disciplines").each_link Fənlər 
            a(href="#contacts").each_link Əlaqə 
        .right#contacts
          .flex_right
            strong Bizimlə əlaqə
            a.contact_line(href="tel:+994559113388") 
              img(src=require("../../assets/icons/footer/phone.svg"), alt="Phone icon")
              span +994(55) 911 33 88
            a.contact_line(href="info@tutorlab.az") 
              img(src=require("../../assets/icons/footer/email.svg"), alt="Email icon") 
              span info@tutorlab.az
            a.contact_line(href="maps.google.com") 
              img(src=require("../../assets/icons/footer/geo.svg"), alt="Geolocation icon")
              span Bakı, Nərimanov ray., Əhməd Rəcəbli küç. 23L
  section.successfull_subscribe
    .white_box
      .icon
        img(src="https://img.icons8.com/color/48/000000/checkmark--v2.png")
      h1 Uğurla Abunə oldunuz!
      button.close_modal_btn.close_btn &times;